body {
    padding: 0;
    margin: 0
  }
  
  button {
    background-color: transparent;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #777;
    transition: .3s;
    margin: 12px;
    min-width: 100px;
  }
  
  button:hover {
    cursor: pointer;
  }
  
  .container {
    max-width: 880px;
    margin: 12px auto 0;
  }
  
  #tabs {
    display: flex;
    justify-content: space-between;
  }
  
  #tabs > button {
    flex: 1
  }
  
  .active {
    background-color: rgba(0,0,0,.1);
    text-transform: uppercase;
  }